@import '@oxide/design-system/styles/main.css';
@import '@oxide/design-system/styles/yellow.css';
@import '@oxide/design-system/styles/purple.css';
@import '@oxide/design-system/styles/green.css';
@import '@oxide/design-system/styles/blue.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-mono: 'GT America Mono', monospace;
    --font-sans: "Suisse Int'l", sans-serif;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
  }
}

@layer base {
  img {
    @apply inline-block;
  }
  body {
    @apply bg-default text-default;
  }
  pre {
    @apply font-mono;
  }
  pre span {
    @apply text-raise;
  }
  .ui-switch label,
  .ui-number label,
  .ui-text label,
  .ui-select label,
  .ui-radio label,
  label,
  .ui-button {
    @apply uppercase tracking-wider;
  }
  .ui-button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: var(--mt-radius-sm);
    border-width: 1px;
    border-color: currentColor;
    opacity: 0.05;
  }
  hr {
    @apply border-default;
  }
}
