@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --font-mono: 'GT America Mono', monospace;
    --font-sans: "Suisse Int'l", sans-serif;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  img {
    @apply inline-block;
  }
  pre {
    @apply font-mono;
  }
  .ui-switch label,
  .ui-number label,
  .ui-text label,
  .ui-select label,
  .ui-radio label,
  label,
  .ui-button {
    @apply uppercase tracking-wide;
  }
}
