@import '@oxide/design-system/styles/main.css';
@import '@oxide/design-system/styles/yellow.css';
@import '@oxide/design-system/styles/purple.css';
@import '@oxide/design-system/styles/green.css';
@import '@oxide/design-system/styles/blue.css';

@font-face {
  font-family: 'GT America Mono';
  font-style: normal;
  font-weight: 400;
  src:
    url('/fonts/GT-America-Mono-Regular-OCC.woff2') format('woff2'),
    url('/fonts/GT-America-Mono-Regular-OCC.woff') format('woff');
}

@font-face {
  font-family: 'SuisseIntl';
  src:
    url('/fonts/SuisseIntl-Regular-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Regular-WebS.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SuisseIntl';
  src:
    url('/fonts/SuisseIntl-Medium-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Medium-WebS.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-mono: 'GT America Mono', monospace;
    --font-sans: 'SuisseIntl', sans-serif;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
  }
}

@layer base {
  img {
    @apply inline-block;
  }
  body {
    @apply text-default bg-default;
  }
  pre {
    @apply font-mono;
  }
  pre span {
    @apply text-raise;
  }
  .ui-switch label,
  .ui-number label,
  .ui-text label,
  .ui-select label,
  .ui-radio label,
  label,
  .ui-button {
    @apply uppercase tracking-wider;
  }
  .ui-button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: var(--mt-radius-sm);
    border-width: 1px;
    border-color: currentColor;
    opacity: 0.05;
  }
  hr {
    @apply border-default;
  }
}
